
* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  background-color: #1f485c;
  font-family: 'Open Sans', sans-serif;
}

.heading {
  background-color: #f8ede5;
}
h1 {
  color: #E40408;
  padding: 10px;
  font-weight: 300;
}
.subheading {
  background-color: #1f485c;
  padding: 10px 0px;
  font-size: 40px;
}
.subheading-text {
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
}
.subheading p {
  color: #fff;
}

.question {
  padding: 20px;
  background-color: #f8ede5;
  font-family: 'Work Sans', sans-serif;
}

.footer {
  padding: 40px 0 80px 0;
  color: #888;
  background-color: #1f485c;
  font-weight: 300;
}
.footer p {
  margin: 20px;
  color: #fff;
}
.footer p a {
  color: #fff;
}

#question-input {
  padding: 10px 20px;
  font-weight: 300;
  border: 1px solid #686e89;
  min-width: 75vw;
  max-width: 500px;
  text-align: center;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 20px;
}
#get-answer {
  padding: 10px 25px;
  border-radius: 4px;
  background-color: #1f485c;
  color: #fff;
  font-weight: 300;
  border: 0;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#get-answer:hover {
  cursor: pointer;
}


.user-question {
  text-align: left;
  margin: 0 auto 20px auto;
  width: 80vw;  
  font-family: 'Open Sans', sans-serif;
  display: none;
}
.user-question h2 {
  font-size: 20px;
  font-weight: 300;
  color: #1f485c;
}
.user-question p {
  font-weight: 300;
  color: #888;
}

.user-answer {
  display: inline-block;
  width: 60vw;
  vertical-align: top;
  text-align: left;
  display: none;
}
.user-answer h2 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #1f485c;  
}
.user-answer p {
  color: #444;
}
#user-answer-source {
  text-align: right;
}
#user-answer-source a {
  font-size: 16px;
}

.resetbutton {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #22779a;
  background-color: #1f485c;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  border: 0;
}
.resetbutton:hover {
  cursor: pointer;        
}

@media screen and (max-width: 600px) {
  .footer p {
    font-size: 14px;
  }
  #patio11-svg {
    width: 20vw;
  }
  .user-answer {
    padding-left: 10px;
  }
  .user-answer h2 {
    font-size: 20px;
  }
  .user-answer p {
    margin-top: 5px;
    font-size: 16px;
  }
}

@media screen and (min-width: 601px) {
  .footer p {
    font-size: 12px;
  }
  #patio11-svg {
    width: 200px;
  }
  .user-answer {
    padding-left: 40px;
  }
  .user-answer h2 {
    font-size: 40px;
  }
  .user-answer p {
    margin-top: 10px;
    font-size: 30px;
  }
}

.show-user-question {
  display: block;
  animation-name: showuserquestion;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes showuserquestion {
  from { height: 0; opacity: 0.0; }
  to { height: 60px; opacity: 1.0; }
}

.show-user-answer {
  display: inline-block;
  overflow: hidden;
  position: relative;
  animation-name: showuseranswer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes showuseranswer {
  from {left: 60vw; opacity: 0.0;}
  to {left: 0; opacity: 1.0;}
}

.hide-input {
  animation-name: hideinput;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hideinput {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}